* {
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
}

header,
footer {
    padding: 40px;
    background-color: aliceblue;
}

main {
}

footer {
}

nav ul li{
    display:inline;
    float: right;
}

h1 {
    text-align: center;
}

form {
    text-align:center;
}

img {
    width:250px;
    height:250px;
}